html {
    font-family: sans-serif;
    font-size: 0.9em;
}

code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.sector-list {
    height: 500px; 
    overflow-y: scroll;
    border: lightgray solid 1px;
}
